@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600;700&display=swap');

.font__600 {
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.font__700 {
    font-family: Work Sans;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
}